<a name="about-link" class="anchor">&nbsp;</a>
<div id="about-title">
  <div class="wraptitle">
    <div class="js-background-1 test">
      <h2>About</h2>
    </div>
  </div>
</div>
<div id="about" class="wrap">
  <%= image_tag("act.jpg", class: "circle right")%>
  <p class="orange"><strong>Talk is Cheap; We Act.</strong></p>
  <p>The Youth Advocacy Network (YAN) is dedicated to empowering communities that are underrepresented in the local and global governance to advocate for issues of local relevance to an international audience by teaching young people how to effectively use available technologies.</p>
  <p>YAN Fellows teach a unique Leadership and New Media Advocacy curriculum that incorporates leadership skills, email, social networking, web-based research and video production. Students are encouraged to develop advocacy strategies for struggles they see in their own communities and to implement one of these strategies online, building a network of international support. Throughout the process students are learning technological skills that encourage cross-cultural communication, both online and with YAN Fellows, as well as preparing them for local job opportunities that were previously out of reach.</p>
</div>