<a name="get-involved-link" class="anchor">&nbsp;</a>
  <div id="get-involved-title">
    <div class="wraptitle">
      <div class="js-background-3 test"><h2>Join Us</h2></div>
    </div>
  </div>
  <div id="get-involved" class="wrap">
    <h2 class="orange subheading">Youth Advocacy Network 2014-2015 Fellowship</h2>
    <p class="orange">Fellowship Dates: September 15, 2014 - July 15, 2015</p>
    <p class="orange">Application Deadline: Rolling</p>
    <br/>
    <p><strong>Fellows will be tasked with the following responsibilities:</strong></p>
    <p>
      <li>Teach New Media Advocacy classes to young people a maximum of five afternoons a week and Saturdays (Oct - June) using YAN curriculum that includes lessons in email, social networking, web-based research, basic website design, podcasting and video production</li>
      <li>Maintain YAN's social media accounts (Facebook, Twitter and YAN blog)</li>
      <li>Coordinate the YAN summer internship program for advanced students, including teaching a weekly advanced topics seminar for participants (June - July)</li>
    </p>
    <p><strong>Requirements:</strong></p>
    <p>
      <li>Demonstrated ability to self-motivate and work independently</li>
      <li>Previous experience in the developing world or a demonstrated interest in development</li>
      <li>Previous experience working with young people</li>
      <li>Basic knowledge of Windows Movie Maker, podcasting and website design using Wordpress</li>
      <li>Comfortable with difficult living conditions, including but not limited to hit-or-miss availability of electricity and running water</li>
    </p>
    <br/>
    <p>
      Joint applications of two people wishing to work together encouraged. This is an unpaid, volunteer position. YAN will make every attempt to aid fellows in their fundraising efforts. Last year's fellows were able to raise over 5,500 dollars. 
    </p>
    <p>
      Fellows can expect living costs to run an average of 350 USD/month. Past fellows have gone on to work at the United Nations, Education for Employment and the Squaxin Island Tribe.To apply please send a cover letter and resume to <a href="mailto:ewildermuth@youthadvocacynetwork.org">ewildermuth@youthadvocacynetwork.org</a>.
    </p>
    <br/>
    <br/>
  </div>