<div id="current-projects">
  <h2 class="orange subheading">Current Projects</h2>
  <p><h3 class="orange"><strong>Bilingual Grammar School Lycee Molyko - Buea</strong></h3></p>
<!--   <%= image_tag("molyko.jpg", class: "circle right projects")%>
 -->  <p>YAN began teaching a unique leadership and new media advocacy curriculum at the Bilingual Grammar School Molyko - Buea in Fall 2009.  Students are asked to identify an important local issue that does not receive the international attention that they think it deserves.  Students then developed an advocacy campaign that includes web-based research, social networking, basic website design, podcasting and video production to enhance the visibility of their chosen local issue.  The program is going on its fifth year and has graduated over 65 young leaders with an additional 24 students in class for the 2013-2014 school year.</p>
  <br/>
  <br/>
  <p><h3 class="orange"><strong>Lycee Molyko - Advanced YAN</strong></h3></p>
  <%= image_tag("advanced-class.jpg", class: "circle right projects")%>
  <p>There are 8 motivated, enthusiastic and bright YAN graduates from previous years who couldn't get enough YAN and asked for an "Advanced" class. This class continues teaching the same leadership and new media advocacy curriculum as the original club but takes it to the next level. The classes start with a review of previous lessons and moves much more quickly into website creation, podcasts, photography and videos. The end project for the advanced students will be to sensitize their own community on the problems they have chosen for research. Students will organize their own outing in which they will present their research to the community.</p>
  <br/>
  <br/>
  <p><h3 class="orange"><strong>Government High School Buea Town - Buea</strong></h3></p>
<!--   <%= image_tag("buea-town.jpg", class: "circle right projects")%>
 -->  <p>In 2012, YAN was expanded into two new schools, the Government High Schools in Buea Town and Limbe (see below). At these schools, the same leadership and new media curriculum that YAN has been developing over the last several years was used in the same manner as described above. Last year there were 32 graduates and this year (2013-2014) there are 21 potential students who will graduate.</p>
  <br/>
  <br/>
</div>