<div id="past-projects">
  <h2 class="orange subheading">Past Projects</h2>
  <p><h3 class="orange"><strong>Buea School for the Deaf</strong></h3></p>
  <%= image_tag("deaf.jpg", class: "circle right projects")%>
  <p>YAN's program at Buea School for the Deaf in 2009 - 2011 is an example of how fellows are encouraged to build ties with the local community, providing assistance as identified by those who best understand the problems in Buea. Cameroon provides public funds for blind children, but not for deaf students. This prompted the creation of Buea School for the Deaf, where deaf students from throughout Cameroon convene to learn in a supportive learning environment.</p>
  <p>At the request of the school, YAN worked with students  to produce short sign-language videos that can be distributed to the families and communities of these young people.  The aim of this project was to allow those closest to the students in their own villages, whether this be their parents, siblings, or neighbours, to better communicate with them.</p>
  <br/>
  <br/>
  <br/>
  <p><h3 class="orange"><strong>Government High School Limbe - Limbe</strong></h3></p>
<!--   <%= image_tag("limbe.jpg", class: "circle right projects")%>
 -->  <br/>
  <p>The 2012-2013 school year graduated 11 YAN students from GHS Limbe. That year was a wonderful year for YAN as there were two Fellows which certainly maximized YAN's outreach. Ties were not cut with GHS Limbe but as for the 2013-2014 school year, YAN will not be working in Limbe. YAN hopes to make it back to Limbe and teach the YAN curriculum in the future.</p>
</div>