<div id="internship-projects">
  <h2 class="orange subheading">Internships</h2>
  <%= image_tag("intern.jpg", class: "circle right projects")%>
  <br/>
  <br/>
  <p>In 2013, Youth Advocacy Network started an internship program for students who excelled in the class and were commited to their further education. Last year, 10 students were given internships with non-profits that operate in Buea.Internships give our students invaluable experience; they allow our students to take advantage of not only helping a local NGO in their community, but also gaining knowledge and hands on experience about how non-profit organizations work. This year we are hoping to place a minimum of 8 student interns at different NGOs in Buea.</p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div>
    <h3 class="orange center">Past Interns</h3>
    <br/>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Organization</th>
        </tr>
      <tbody>
      </tbody>
        <tr>
          <td>Nanjembe Nelson</td>
          <td>ICENECDEV</td>
        </tr>
        <tr>
          <td>Tetsop Florantine</td>
          <td>ICENECDEV</td>
        </tr>
        <tr>
          <td>Eyole Emmanuel</td>
          <td>ICENECDEV</td>
        </tr>
        <tr>
          <td>Tazison Josiane</td>
          <td>ProClimate</td>
        </tr>
        <tr>
          <td>Nanje Lucia</td>
          <td>ProClimate</td>
        </tr>
        <tr>
          <td>Suh Ruth</td>
          <td>ERuDeF</td>
        </tr>
        <tr>
          <td>Bessinula Emmanuel</td>
          <td>ERuDeF</td>
        </tr>
        <tr>
          <td>Kendja Djapa Elisée</td>
          <td>YAN</td>
        </tr>
        <tr>
          <td>Gwisho Norris</td>
          <td>YAN</td>
        </tr>
        <tr>
          <td>Gibril Labi Madaki</td>
          <td>YAN</td>
        </tr>
    </table>
  </div>
</div>