<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Veselka" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic' rel='stylesheet' type='text/css'>
  <title>Youth Advocacy Network</title>
</head>
<body>
  <div class="cbp-af-header">
      <div class="cbp-af-inner">
          <h1><strong>YAN</strong></h1>
          <nav class="clearfix">
              <a href="#">Home</a>
              <a href="#about-link">About</a>
              <a href="#team-link">Team</a>
            <div class="emptyMenu"></div>
              <a href="#projects-link">Projects</a>
              <a href="#blog-link">Blog</a>
              <a href="#get-involved-link">Join Us</a>
          </nav>
          <a href="#" id="pull"></a> 
      </div>
  </div>
  <div id="welcome" class="wrap">
    <p class="orange">The Youth Advocacy Network (YAN)</p>
    <br/>
    <p>Empowering local communities to advocate internationally.</p>
  </div>
  <%= render "about" %>
  <%= render "team" %>
  <%= render "projects"%>
  <%= render "blog" %>
  <%= render "get_involved" %>
  <div class="footer">
    Template design by Veselka for <a href="http://andreasviklund.com" target="_blank">andreasviklund.com</a>
  </div>

<script type="text/javascript">
  $(function() {  
      var pull        = $('#pull');  
          menu        = $('nav a');  
          // menuHeight  = menu.height();  
    
      $(pull).on('click', function(e) {  
          e.preventDefault();  
          menu.slideToggle();  
      }); 

  }); 
  $(window).resize(function(){  
      var w = $(window).width();  
      if(w > 320 && menu.is(':hidden')) {  
          menu.removeAttr('style');  
      }  
  });

  $(document).ready(function() {
    $('.fancybox').fancybox();
  });

  var $window = $(window);
  var velocity = 0.5;

  function update(){
      var pos = $window.scrollTop();

      $('.test').each(function() {
          var $element = $(this);
          var height = $element.height();

          $(this).css('backgroundPosition', '10% ' + Math.round((height - pos) * velocity) + 'px');
      });
  };

  $window.bind('scroll', update);


  var cbpAnimatedHeader = (function() {
 
    var docElem = document.documentElement,
        header = document.querySelector( '.cbp-af-header' ),
        didScroll = false,
        changeHeaderOn = 100;
 
    function init() {
        window.addEventListener( 'scroll', function( event ) {
            if( !didScroll ) {
                didScroll = true;
                setTimeout( scrollPage, 250 );
            }
        }, false );
    }
 
    function scrollPage() {
        var sy = scrollY();
        if ( sy >= changeHeaderOn ) {
            classie.add( header, 'cbp-af-header-shrink' );
        }
        else {
            classie.remove( header, 'cbp-af-header-shrink' );
        }
        didScroll = false;
    }
 
    function scrollY() {
        return window.pageYOffset || docElem.scrollTop;
    }
 
    init();
 
})();
</script>
</body>
</html>