#current-projects > .projects {
  max-height: 20em;
  max-width: 20em;
}

#past-projects > .projects {
  max-height: 20em;
  max-width: 20em;
}

#internship-projects > .projects {
  max-height: 20em;
  max-width: 20em;
}

#internship-projects > div >table > thead > tr > th{
  padding-right: 40px;
  padding-left: 0;
}

#internship-projects > div > table{
  margin-left: auto;
  margin-right: auto;
}

#internship-projects > div > .center{
  text-align: center;
}

#internship-projects > div> table > tbody > tr > td{
  padding-right: 40px;
}